<!-- Signup Section -->
<section id="signup" class="signup-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">

        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5">Confirme presença no nosso casamento!</h2>

        <%= form_for :cadastro, url: cadastros_path do |f| %>
            <% if @cadastro.errors.any? %>
              <% @cadastro.errors.full_messages.each do |msg| %>
                <div class="alert alert-danger"><%= msg %></div>
              <% end %>
            <% end %>
            <p>
              <%= f.label(:nome, {:style => 'color:white'}) %><br>
              <%= f.text_field(:nome, {:class => 'form-control'})  %>
            </p>

            <p>
              <%= f.label(:email, {:style => 'color:white'}) %><br>
              <%= f.text_field(:email, {:class => 'form-control'})  %>
            </p>

            <p>
              <%= f.submit({:class => 'btn btn-primary'}) %>
            </p>
            <% end %>

      </div>
    </div>
  </div>
</section>
